<div
  class="h-96 bg-gradient-to-r from-indigo-500 to-indigo-700 flex items-center justify-center relative">
  <p class="text-white text-3xl font-bold">My personal book list</p>

  <div
    class="h-32 w-32 rotate-45 absolute top-16 right-8 opacity-50 p-4 bg-gradient-to-tr from-indigo-700 to-indigo-400 rounded-full grid place-items-center">
    <img
      alt="The subtle of not giving a fuck"
      class="w-[60%]"
      src="assets/subtle-art-cover.png" />
  </div>

  <div
    class="h-40 w-40 -rotate-45 absolute bottom-8 right-32 opacity-50 p-4 bg-gradient-to-tr from-indigo-700 to-indigo-400 rounded-full grid place-items-center">
    <img
      alt="Think And Grow Rich"
      class="w-[60%]"
      src="assets/think_and_grow_rich.png" />
  </div>

  <div
    class="h-40 w-40 rotate-12 absolute top-8 left-8 opacity-50 p-4 bg-gradient-to-tr from-indigo-700 to-indigo-400 rounded-full grid place-items-center">
    <img
      alt="The subtle of not giving a fuck"
      class="w-[60%]"
      src="assets/pragmatic-programmer.jpeg" />
  </div>

  <div
    class="h-32 w-32 -rotate-12 absolute bottom-12 left-40 opacity-50 p-4 bg-gradient-to-tr from-indigo-700 to-indigo-400 rounded-full grid place-items-center">
    <img
      alt="Think And Grow Rich"
      class="w-[60%]"
      src="assets/the-miracle-morning.jpeg" />
  </div>
</div>
